.content-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	padding: 30px;
	min-height: 300px;
}


.info-button-text-container {
    text-align: right;
}

.dish-button, .dish-button-go-to-auth {
	font-family: 'Montserrat-Medium';
	font-size: 16px;
    display: inline-block;
    padding: 10px 60px;
    margin: 10px;
    color: white;
    background-color: rgb(40, 167, 69);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
	transition: .4s;
}

.dish-button:hover, .dish-button-go-to-auth:hover {
	transition: .4s;
    background-color: rgb(33, 136, 56);
}

.dish-button:active, .dish-button-go-to-auth:active {
	transition: .4s;
    background-color: rgb(24, 101, 41);
}

.info-button-container {
	margin: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 90%;
}


.quantity-button {
    display: flex;
    align-items: center;
    background-color: rgb(240, 240, 240);
	margin: 10px;
	font-family: 'Montserrat-Medium';
	font-size: 16px;
}

.button-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    cursor: pointer;
}

.decrement, .increment {
    background-color: rgb(204, 204, 204);
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.decrement:hover, .increment:hover {
    background-color: rgb(187, 187, 187);
}

.quantity {
    width: 85px;
    text-align: center;
}

.button-hidden {
	display: none;
}

#sort-select {
    font-family: 'Montserrat-Medium', sans-serif;
    font-size: 16px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: rgb(240, 240, 240);
    color: #333;
    cursor: pointer;
    transition: background-color 0.4s, color 0.4s;
}

#sort-select:hover {
    background-color: rgb(220, 220, 220);
}

#sort-select:focus {
    outline: none;
    background-color: rgb(220, 220, 220);
}

.label-sort-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100px;
}

.dish-box-container.hidden {
    display: none;
}

.search-panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

#search-input {
    font-family: 'Montserrat-Medium';
    font-size: 16px;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 70%;
}

#show-all-button {
    font-family: 'Montserrat-Medium';
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    width: 400px;
    border-radius: 5px;
    background-color: rgb(40, 167, 69);
    color: white;
    cursor: pointer;
    transition: background-color 0.4s, color 0.4s;
}

#show-all-button:hover {
    background-color: rgb(33, 136, 56);
}

.error-text {
    margin: 10px;
}