<div class="thin-line top-line"></div>
<div class="footer-container">
	<a class="footer-logo" href="/">
		<img src="/img/content/logo.svg">
	</a>
	<div class="footer-navigation-container">
		<div class="footer-header-text">лЮлљлњлўлЊлљлдлўл»</div>
		<div class="footer-text-container">
			<a class="footer-main-text" href="/">лЊлЏлљлњлЮлљл»</a>
			<a class="footer-main-text" href="/menu">люлЋлЮл«</a>
			<a class="footer-main-text" href="/reviews">лълблЌлФлњлФ</a>
			<a class="footer-main-text" href="<%= (typeof user !== 'undefined' && user) ? '/profile' : '/auth' %>">лЪлалълцлўлЏлг</a>
		</div>
	</div>
	<div class="footer-navigation-container">
		<div class="footer-header-text">лАлњл»лЌлг лА лЮлљлюлў</div>
		<div class="footer-text-container">
			<div class="footer-main-text">РюЅ support@freshchef.ru РюЅ</div>
			<div class="footer-main-text">­ЪЋ┐ +7 (916) 844-65-90 ­ЪЋ┐</div>
		</div>
	</div>
</div>