.content-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.dish-info-container {
    display: flex;
	flex-direction: column;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.dish-info-container:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.image-container {
	display: flex;
	flex-direction: column;	
	align-items: center;
    width: 100%;
}

.dish-image {
    width: 50%;
    border-radius: 10px;
    object-fit: cover;
}

.text-container {
    flex: 1;
    padding-left: 20px;
	align-items: center;
}

.nutrition-table {
    margin-bottom: 10px;
	display: flex;
	flex-direction: column;
	width: 70%;
	margin-left: 43px;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 10px;
}

.nutrition-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    border-bottom: 1px solid #ccc;
    padding: 2px;
}

.additional-info {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 80px;
}

.button-container {
    display: flex;
    justify-content: space-around;
	width: 100%;
	margin: 10px 0 10px 0;
}

.dish-button {
    font-family: 'Montserrat-Medium';
    font-size: 16px;
    padding: 10px 20px;
    color: white;
    background-color: rgb(40, 167, 69);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: .4s;
}

.dish-button:hover {
    background-color: rgb(33, 136, 56);
}

.remove-button {
    background-color: rgb(119, 119, 119);
}

.remove-button:hover {
    background-color: rgb(74, 74, 74);
}

.remove-button:active {
    background-color: rgb(50, 50, 50);
}

a.dish-button:hover {
	color: white;
}

.header-title-text {
	text-align: center;
	font-family: 'Montserrat-Bold';
	font-size: 20px;
	margin: 20px;
}

.card-text-info {
	font-family: 'Montserrat-Regular';
	font-size: 14px;
	text-align: justify;
}

.card-text-info-description {
	font-family: 'Montserrat-Regular';
	font-size: 14px;
	text-align: justify;
	margin: 10px 0 10px 0;
}

a[name=add-button] {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 300px;
    align-self: center;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
	justify-content: center;
	align-items: center;
}

.modal-content {
	background-color: #fefefe;
	margin: 5% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 100%;
	max-width: 600px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover, .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.card-text-title {
    font-family: 'Montserrat-Medium';
    font-size: 16px;
    margin: 5px 30px;
}

.form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.add-form input, .add-form textarea {
    width: 95%;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    font-family: 'Montserrat-Regular';
    margin: 5px 30px;
    width: 300px;
}

.form-button-add {
    align-self: center;
    margin-left: 200px;
    width: 200px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.form-group textarea {
    height: 75px;
    resize: vertical;
    min-height: 50px;
    max-height: 100px;
}

.form-button-add:disabled {
    background-color: rgb(204, 204, 204);
    color: rgb(102, 102, 102);
}